# Python
*.pyc
__pycache__/
env/
venv/
*.sqlite3

# Django
*.log
db.sqlite3
/staticfiles/
media/

# VSCode / IDEs
.vscode/
.idea/
*.swp

# Node (for frontend)
node_modules/
dist/
build/

# Environment
.env
